.toolbar {
  .action {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px 0;

    >div {
      gap: 8px 0;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .btn-collapse {
    font-size: 16px;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 7px 14px;
    aspect-ratio: 1;
    height: 32px;

    color: $color-white;
    background-color: $btn-bc-primary;

    background-image: url("../../icons/magnifying-blue.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;

    &.extend {
      background-image: url("../../icons/plus-blue.svg");
    }

    &.show {
      background-image: url("../../icons/subtract-blue.svg");
    }

    &:hover {
      background-color: $btn-bc-primary;
    }
  }
}