// Here you can add other styles
body {
  &.modal-open {
    overflow-y: hidden;
  }
}

.min-vh {
  &-25 {
    min-height: 25vh
  }

  &-50 {
    min-height: 50vh
  }

  &-75 {
    min-height: 75vh
  }
}

.vertical-align-text-bottom {
  vertical-align: text-bottom;
}

.text {
  &-black {
    color: $color-black !important
  }

  &-gray {
    color: $color-gray !important
  }

  &-blue {
    color: $color-blue !important
  }

  &-icool-blue {
    color: $color-blue-icool !important
  }

  &-success {
    color: $color-success !important
  }

  &-warning {
    color: $color-warning !important
  }

  &-danger {
    color: $color-red !important
  }

  &-info {
    color: $color-info !important
  }
}

.bg {
  &-light-blue {
    background-color: $color-light-blue-table
  }
}

.icon-i::after {
  content: "i";
  font-style: italic;
  font-size: $fs-normal;
  padding: 0 10px;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
}

.c-icon {
  &.file {
    padding: 13px 11px;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../icons/file.svg");
  }
}

.logo-sm::after {
  content: 'logo';
  font-size: 24px;
}

.react-select__menu-portal {
  z-index: 10000000 !important;
}