#header-notification-wrapper {
  position: relative;
  margin-right: 30px;

  #header-notification {
    background-color: white;
    border-radius: 100%;
    padding: 8px;
    cursor: pointer;
    animation: shake 2000ms ease-in-out infinite;

    &:hover {
      background-color: rgb(238 244 255);
      box-shadow: 0 0 16px 4px rgba(255, 255, 255);
    }
  }

  #notification-badge {
    cursor: default;
    position: absolute;
    user-select: none;
    background-color: red;
    color: white;
    height: 22px;
    width: 22px;
    font-weight: 700;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 100%;
    top: -6px;
    right: -11px;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  2% {
    transform: rotate(15deg);
  }
  4% {
    transform: rotate(0deg);
  }
  6% {
    transform: rotate(-15deg);
  }
  8% {
    transform: rotate(0deg);
  }
  92% {
    transform: rotate(0deg);
  }
  94% {
    transform: rotate(15deg);
  }
  96% {
    transform: rotate(0deg);
  }
  98% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
