.checkbox_group {
  display: flex;
  margin-bottom: 0.5rem;
  gap: 5px 0;

  @media screen and (max-width: 476px) {
    flex-direction: column;
  }
}

.unit {
  min-width: 325px;
  width: 100%;

  padding-right: 15px;
  padding-left: 15px;

  @media screen and (min-width: 1201px) and (max-width: 1340px) {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .form {
    display: flex;
    // justify-content: space-around;
    gap: 14px;

    .exchange_value {
      width: 125px;
    }

    .equal_sign {
      align-items: center;
      display: flex;
      padding: 0 4px;
    }

    .exchange_to {
      min-width: 130px;
    }
  }

  span {
    color: black;
  }
}
